// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p{
    height: 50px;
    width:200px;
    background-color: #0FF;
    font-size: 25px;
    padding:10px 10px 0px 10px;
    border-width:thick;
    border:solid red;
    //border-color: yellow;    
    margin:0px 0px 30px 0px;
    
    
}